__pycache__/
*.py[cod]

.vscode/
.pytest_cache/
.mypy_cache/

data/raw/**
!data/raw/
!data/raw/微信/
!data/raw/微信/.gitkeep
!data/raw/支付宝/
!data/raw/支付宝/.gitkeep
!data/raw/中行/
!data/raw/中行/.gitkeep

data/generated/**
!data/generated/
!data/generated/README.md

docs/reports/**

docs/notes/**
